<h1>Listing Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Ful name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Address</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.fname %></td>
        <td><%= user.lname %></td>
        <td><%= user.ful_name %></td>
        <td><%= user.email %></td>
        <td><%= user.age %></td>
        <td><%= user.address %></td>
        <td><%= user.gender %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if user.accounts.present? %>
          <td><%= link_to 'Show Profile', user %></td>
        <% else %>
          <td><%= link_to "Add Account", accounts_path(user) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %><br />

<p><%= link_to 'New User', new_user_path %></p>
