<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @user.fname %>
        <span style="float:right;width: 30%;">
            <%= image_tag @user.photo.url(:medium) %>
        </span>
</p>

<p>
  <strong>Lname:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>Ful name:</strong>
  <%= @user.ful_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% #= image_tag @user.photo.url %>
<% #= #image_tag @user.photo.url(:thumb) %>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<% if @user.accounts.present? %>

<h3>Account Details</h3>
<table width="50%" class="table table-bordered">
<tr>
  <th>Account Number</th>
  <th>Account Type</th>
  <th>Branch</th>
  <th>Amount</th>  
</tr>
  <% @user.accounts.each do  |acc|%>
 <tr>
    <td><%= acc.account_number %> </td>
    <td><%= acc.account_type %> </td>
    <td><%= acc.branch.area %></td>
    <td><%= acc.amount %></td>    
 </tr>
  <% end %>
</table>
<br/>

<p><%= link_to "Add More Account", accounts_path(@user) %></p>
<% end %>

<br/><br/>

<%= link_to 'Edit', edit_user_path(@user) %> |

<%= link_to 'Back', users_path %>

<br/><br/>
