<p id="notice"><%= notice %></p>


<div class = "form-group">
<%= link_to 'Transactions', transactions_path(@user), class: 'btn btn-warning' %>
</div>

<p>
  <strong>Fname:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>Ful name:</strong>
  <%= @user.ful_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p><%= image_tag @user.avatar.url(:thumb) %></p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<h3>Account Details</h3>
<table class="table">
<tr>
  <th> Account Number</th>
  <th> Account Type</th>
  <th>Branch</th>
  <th>Amount</th>
</tr>
<tr>
  <% @user.accounts.each do  |acc|%>
   <td> <%= acc.account_number %> </td>
    <td> <%= acc.account_type %> </td>
    <td><%= acc.branch.area unless acc.branch.nil? %></td>
    <td><%= acc.amount %></td></tr>
  <% end %>
</tr>
</table>
  
  


<div class = "form-group">
<%= link_to 'Back', users_path, class: 'btn btn-info'%>
<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-danger' %>
</div>