<p id="notice"><%= notice %></p>

<h1>Transcations</h1>

<table>
  <thead>
    <tr>
      <th>Transcation type</th>
      <th>Transaction</th>
      <th>Transcation date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transcations.each do |transcation| %>
      <tr>
        <td><%= transcation.transcation_type %></td>
        <td><%= transcation.transaction_id %></td>
        <td><%= transcation.transcation_date %></td>
        <td><%= link_to 'Show', transcation %></td>
        <td><%= link_to 'Edit', edit_transcation_path(transcation) %></td>
        <td><%= link_to 'Destroy', transcation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transcation', new_transcation_path %>
