<%= form_for @account, url: {:action => "create"} do |f| %>
<table>
	<tr>
		<td height="50">Account Numnber:</td>
		<td><%= f.text_field :account_number %></td>
	</tr>
	<tr>	
		<td height="50">Account Type:</td>
		<td><%= f.text_field :account_type %>
<% if params[:account].present? %>
<%= f.hidden_field :user_id,  value: params[:account][:user_id] %></td>
<% else %>
		<%= f.hidden_field :user_id,  value: @user.id %></td>
<% end %>
	</tr>	
	<tr>
		<td height="50">Branch:</td>
		<td><%= f.select :branch_id, options_from_collection_for_select(Branch.all, "id", "area"), include_blank:  true %></td>
	</tr>
	<tr>
		<td colspan=2  height="50"><%= f.submit %></td>
	</tr>	
</table>
<% end %>